<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Preview</title>
</head>
<body>
    <h1>Xin chào Nguyễn Văn A,</h1>
    <h3>Đây là Wings Airport, chúc bạn một ngày tốt lành!</h3>
    <img width="480" height="269" src="https://media.giphy.com/media/S2IfEQqgWc0AH4r6Al/giphy.gif" alt="hello">
    <p>Wings Airport tự hào là Sân bay hàng không quốc tế 4 sao.<br>
    Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!</p>
    <p>Trân trọng,<br>Đội ngũ Wings Airport</p>
</body>
</html>
